<div id="no-more-tables"> 
<table class="table col-md-12 table-bordered table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Vehicles</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Send Skype Alert</th>
  </tr>
  </thead>
  
  <tbody>
  <tr *ngFor="let carOwner of carOwners">
    <td data-title="ID">{{carOwner.id}}</td>
    <td data-title="Name">{{carOwner.name}}</td>
    <td data-title="Email">{{carOwner.emailAddress}}</td>
    <td data-title="Mobile Number">{{carOwner.mobileNumber}}</td>
    <td data-title="Vehicles">
      <p *ngFor="let vehicle of carOwner.vehicles">
        {{vehicle.regNo}}
      </p>
    </td>
    <td>
      <button type="button" class="btn btn-primary" 
      (click)="editCarOwner(carOwner.id)"
      data-toggle="modal" 
      data-target="#formCarOwner">Edit</button>
    </td>
    <td>
      <button type="button" class="btn btn-warning" 
      (click)="deleteCarOwner(carOwner.id)">Delete</button>
    </td>
    <td>
      <button type="button" class="btn btn-warning" 
      (click)="skypeCarOwner(carOwner.name)">Alert</button>
    </td>
  </tr>
  </tbody>

</table>
</div>