<!-- Modal -->

<div class="modal fade" id="formCarOwner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Register a new Car Owner</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose(); form.resetForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <fieldset>
            <legend>Person Details</legend>
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">ID</label>
              <div class="col-sm-8">
                <input #id="ngModel" type="text" class="
                form-control" id="id" required [(ngModel)]="model.id" name="id">
                <div class="alert alert-danger" *ngIf="id.invalid && id.touched">Please provide your enterprise ID</div>
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">Name</label>
              <div class="col-sm-8">
                <input #name="ngModel" type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
                <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Please input your name</div>
              </div>
            </div>
            <div class="form-group row">
              <label for="emailAddress" class="col-sm-4 col-form-label">Email</label>
              <div class="col-sm-8">
                <input #emailAddress="ngModel" type="email" class="form-control" id="emailAddress" [(ngModel)]="model.emailAddress" name="emailAddress" required>
                <div class="alert alert-danger" *ngIf="emailAddress.invalid && emailAddress.touched">Please input your email address</div>
              </div>
            </div>
            <div class="form-group row">
              <label for="mobileNumber" class="col-sm-4 col-form-label">Mobile</label>
              <div class="col-sm-8">
                <input #mobileNumber="ngModel" type="text" class="form-control" id="mobileNumber" [(ngModel)]="model.mobileNumber" name="mobileNumber" required>
                <div class="alert alert-danger" *ngIf="mobileNumber.invalid && mobileNumber.touched">Please input your mobile number</div>
              </div>
            </div>
            <div class="form-group row">
              <label for="workNumber" class="col-sm-4 col-form-label">Work Number</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="workNumber" [(ngModel)]="model.workNumber" name="workNumber">
              </div>
            </div>
            <div class="form-group row">
              <label for="building" class="col-sm-4 col-form-label">Building</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="building" [(ngModel)]="model.building" name="building">
              </div>
            </div>
            <div class="form-group row">
              <label for="floor" class="col-sm-4 col-form-label">Floor</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="floor" [(ngModel)]="model.floor" name="floor">
              </div>
            </div>
            <div class="form-group row">
              <label for="seat" class="col-sm-4 col-form-label">Seat</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="seat" [(ngModel)]="model.seat" name="seat">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Car Details</legend>

            <div class="form-group row" *ngFor="let vehicle of model.vehicles; let i = index">
              <label for="carReg{{i}}" class="col-sm-4 col-form-label">Car Reg {{i}}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="regNo{{i}}" required [(ngModel)]="vehicle.regNo" (ngModelChange)="onChangeCarReg($event, i)" name="regNo{{i}}">
              </div>
            </div>

          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose(); form.resetForm()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit(); form.resetForm()" data-dismiss="modal">Save changes</button>
      </div>

    </div>
  </div>
</div>