<!-- Modal -->

<div class="modal fade" id="formCarOwner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Register a new Car Owner</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <fieldset>
            <legend>Person Details</legend>
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="id" required [(ngModel)]="model.id" name="id">
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="email" [(ngModel)]="model.emailAddress" name="email">
              </div>
            </div>
            <div class="form-group row">
              <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="mobile" [(ngModel)]="model.mobileNumber" name="mobile">
              </div>
            </div>
            <div class="form-group row">
              <label for="workNumber" class="col-sm-2 col-form-label">Work Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="workNumber" [(ngModel)]="model.workNumber" name="mobileNumber">
              </div>
            </div>
            <div class="form-group row">
              <label for="building" class="col-sm-2 col-form-label">Building</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="building" [(ngModel)]="model.building" name="building">
              </div>
            </div>
            <div class="form-group row">
              <label for="floor" class="col-sm-2 col-form-label">Floor</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="floor" [(ngModel)]="model.floor" name="floor">
              </div>
            </div>
            <div class="form-group row">
              <label for="seat" class="col-sm-2 col-form-label">Seat</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="seat" [(ngModel)]="model.seat" name="seat">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Car Details</legend>

            <div class="form-group row" *ngFor="let vehicle of model.vehicles; let i = index">
              <label for="carReg{{i}}" class="col-sm-2 col-form-label">Car Reg {{i}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="regNo{{i}}" required [(ngModel)]  ="vehicle.regNo" name="regNo{{i}}">
              </div>
            </div>

          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()">Save changes</button>
      </div>
    </div>
  </div>
</div>